a {
font-family: 'Montserrat', sans-serif;

}

p {
    margin-top: 58px;

    margin-bottom: 1rem;
    background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
font-family: 'Montserrat', sans-serif;
font-size: 19px;
}

.strong {
  color: #B9F9EC;
}

.homepage{
  color: #3d3d42;
  background-color: #F4F4F4;
  box-shadow: 0px 0px 20px 1px rgba(162,162,162,0.36);
}

.homepage-1{
  background-image: linear-gradient(to top, #3d3d42, #bef3e0, #70EED6);
}

.setup {
  justify-content: space-between;
  display: flex;
  padding-top: 50px;
  margin-right: 200px;
}

.phobia-title {
  text-align: center;
  padding-top: 70px;
}



.block-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 150px;
  justify-content: space-between;
}


.block-container-dark {
  background: #3d3d42;
  color: #70EED6;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 150px;
  justify-content: space-between;
}

h1, h2 {
font-family: 'Montserrat', sans-serif;
color: #696767;

}

.card {
  width: 600px;
  height: 358px;
  border-style: groove;
  border-color: #d6d6d6;
  border-width: 0px;
  border-radius: 4px;
  margin-bottom: 22px;
}

.card h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #696767;
  margin: 11px;
  padding-left: 21px;
}

.block {
  color: #ec7575;
}

.card img {
  -webkit-filter: blur(5px);
  filter: blur(13px);

}

.page-1{
  padding-top: 100px;
  padding-left: 100px;
}

.flex-container {
  margin-left: -24px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 150px;
}



.card-1 {
  width: 297px;
  height: 350px;
  border-radius: 8px;
  text-align: center;
  background-image: linear-gradient(to top, white, #bef3e0, #70EED6);
  margin-left: -25px;
}

.card-1 img {
    width: 283px;
    height: 502px;
    margin-top: -77px;
}

.learn {
  line-height: 32px;
}

.learn h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  color: #FFFFFF;
  margin: 11px;
  padding-left: 21px;
}

.learn-strong {
  color: #B9F9EC;
}

.learn-strong-block {
  color: #ec7575;
}

.head-2 h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: #696767;
  margin: 11px;
  padding-left: 21px;
}

.quote {
  color: #75e8d1;
}

.special {
  color: #ec7575;
}

.profil {
  align-items: center;
  margin-left: 200px;
  padding-top: 100px;
}

.profil img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.profil-card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-2 {
  text-align: center;
  font-family: 'helvetica', sans-serif;
  padding-right: 50px;
}

.features {
  margin-right: 50px;
  width: 600px;
  padding: 16px;
}

.features-1 {
  flex-grow: 1;
}


.profil-card img {
  margin-top: -17px;
  margin-bottom: 29px;
  margin-left: -54px;
  border: 3px solid;
  border-radius: 100px;
  border-color: #B9F9EC;
}

.profil-card p {
  margin-top: -23px;
  margin-bottom: 1rem;
  font-size: 20px;
  margin-left: -60px;
}

