.homepage, .homepage-1, .homepage-2{
  height: 700px;
  color: #696969;
  background-color: white;
  font-family: 'Baloo Paaji', cursive;
  box-shadow: 0px 0px 20px 1px rgba(162,162,162,0.36);

}

.homepage-1{
  background-image: linear-gradient(to right top, #bef3e0, #c6f4dd, #cef4db, #d6f5da, #def5d9);
}

.setup {
  justify-content: space-between;
  display: flex;
}

.phobia-title {
  text-align: center;
  padding-top: 100px;
}

.container {
  display: flex;
  align-items: center;
  padding-top: 150px;
  justify-content: space-between;
}

h1, h2 {
  font-family: 'Baloo Paaji', cursive;
}

.card {
  width: 600px;
  height:400px;
  border-radius: 8px;
  text-align: center;
  justify-content: center;
  background-image: linear-gradient(to right top, #99a290, #9fa992, #a5b194, #acb896, #b3bf97);
}

.page-1{
  padding-top: 100px;
  padding-left: 50px;
  // align-items: center;
//   justify-content:center;
}

.card-1 {
  width: 400px;
  height:400px;
  border-radius: 8px;
  text-align: center;
  background-image: linear-gradient(to right top, #99a290, #9fa992, #a5b194, #acb896, #b3bf97);
  margin-left: 200px;
}


.profil, .profil1, .profil2 {
  align-items: center;
  margin-left: 200px;
  padding-top: 100px;
  // text-align: center;
}

.profil-card {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-2 {
  text-align: center;
  font-family: 'Baloo Paaji', cursive;
  padding-right: 50px;
}

.features-1, .features-2, .features-3 {
  flex-grow: 1;
}
