<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ThibaultBelair"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    Phobia was made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>









