<div class="footer-banner">

  <div class="footer-infos">

    <div class="container-footer">
      <p>Phobia</p>
        <div class="content">
          <i class="fas fa-map-pin"></i><p>20 rue des Capucins Lyon 1er</p>
          <i class="fas fa-envelope-open-text"></i> <p>toto@phobia.com</p>
          <i class="fas fa-mobile-alt"></i><p>+33 567886653</p>
        </div>
    </div>

    <div class="container-footer1">
      <div class="container-infos1">
        <div class="footer-content">
          <p>Naviguez sereinement sur le web.</p>
          <i class="fab fa-app-store"></i>
          <i class="fab fa-android"></i>
        </div>
      </div>
      <div>
        <i class="fad fa-arrow-alt-to-top"></i>
      </div>
    </div>
  </div>
</div>










