<div class="footer-banner">

  <div class="footer-infos">

    <div class="container-footer">
      <!-- <p>Phobia</p> -->
        <div class="content">
          <div>

            <i class="fas fa-map-pin"></i><p>20 rue des Capucins Lyon 1er</p>
          </div>

          <div>

            <i class="fas fa-envelope-open-text"></i> <p>toto@phobia.com</p>
          </div>

          <div>

            <i class="fas fa-mobile-alt"></i><p>+33 567886653</p>
          </div>
        </div>
        <i class="far fa-copyright"></i>Copyright
    </div>
  </div>
</div>










