<div class="footer-banner">

  <div class="footer-infos">

    <div class="container-footer">
      <h5>Phobia</h5>
      <i class="fas fa-map-pin">20 rue des Capucins Lyon 1er</i>
      <i class="fas fa-phone-alt"></i>
      <i class="fas fa-envelope-open-text">toto@phobia.com</i>
    </div>

  </div>


  <div class="container-footer1">
    <h6>Shared</h6>
    <i class="fab fa-app-store"></i>
    <i class="fab fa-android"></i>

    <div class="footer-content">
      <p>Avec Phobia naviguez sereinement sur le web.</p>
    </div>

  </div>

</div>

