<div class="homepage">
  <div class="container">

    <div class="flex-container">
      <h1>Scroll without fear</h1>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
    </div>

    <div class="video-cadre">
      <div class="card-container">
        <div class="card">
          <div class="front">
            Card
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="homepage-1">
  <div class="container-1">

    <div class="head-1">
      <p><strong>Phobia SET UP</strong></p>
    </div>

    <div class="list-1">
      <div class="card-container-1">
        <div class="card-1">
          <div class="front-1">
            Card
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="homepage-2">
  <div class="container-2">

    <div class="head-2">
      <p><strong>Homepage 2</strong></p>
    </div>

    <div class="list-2">
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
    </div>
  </div>

</div>






