<div class="container">

  <div class="homepage">
    <p><strong>Homepage </strong></p>
  </div>

  <div class="homepage-1">
    <p><strong>Homepage 1</strong></p>
  </div>

  <div class="homepage-2">
    <p><strong>Homepage 2</strong></p>
  </div>
</div>
