<div class="banner" style="background-color: #FFFFF0;">
    <div>
        <div class="slogan">
           <h1>SCROLL WITHOUT FEAR</h1>
        </div>

      <div class="description">
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
        <p>Lorem ipsum</p>
      </div>

      <div class="btn button">
        <a class="btn btn-flat" href="#">Install</a>
      </div>
    </div>

    <div class="icon_menu flex-container justify-content-center align-items-center">
      <img id="video" src="https://www.wikihow.com/images_en/thumb/5/5b/Pause-Video-Recording-on-an-iPhone-Step-3.jpg/v4-728px-Pause-Video-Recording-on-an-iPhone-Step-3.jpg">
    </div>
  </div>
