
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="">
    <img class="logo" src="https://i.imgur.com/31y8zZY.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Phobia
  </a>
</nav>
