<div class="homepage">

<!-- Page 1 -->
    <div class="block-container">
      <div class="flex-container">
        <h1>Scroll without fear</h1>
        <p><strong>Lorem ipsum</strong></p>
        <p><strong>Lorem ipsum</strong></p>
        <p><strong>Lorem ipsum</strong></p>
        <p><strong>Lorem ipsum</strong></p>
        <br>
        <br>
        <br>
        <strong><%= link_to "Install", "#", class: "btn btn-flat" %></strong>
      </div>

      <div class="card">
        Card
      </div>
    </div>

<!-- Page 2 -->
    <div class="block-container">

      <div class="phobia-title">
        Phobia SET UP
      </div>
      <div class="setup">
        <div class="page-1">
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <br>
          <br>
          <strong><%= link_to "Install", "#", class: "btn btn-flat" %></strong>
        </div>

        <div class="card-1">
          <p>card</p>
        </div>

        <div class="features">
          Lorem ipsum
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
          <p>Lorem ipsum</p>
        </div>
      </div>
    </div>

<!-- Page 3 - Carousel -->
    <div class="block-container">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

        <div class="head-2">
          <h2> Everyone Can Be a Great Write</h2>
        </div>
        <div class="carousel-inner">
<!-- slide 1 -->
          <div class="carousel-item active">
            <div class="profil-card">
              <div class="container-2">
                <div class="profil">
                  <img src="https://static.grammarly.com/assets/files/dbd17c37cf339e73f106ff535431d2b9/photo.png">
                  <p>Typhanie</p>
                  <p>Pobie des araignées</p>
                </div>
              </div>
              <div class="features-1">
                <p>"Grammarly allows me to get those communications <br>out and feel confident that <br>I’m putting my best foot forward. <br>Grammarly is like a little superpower, <br>especially when I need to be at 110%.”</p>
              </div>
            </div>
          </div>
<!-- slide 2 -->
          <div class="carousel-item">
            <div class="profil-card">
              <div class="container-3">
                <div class="profil1">
                  <img src="https://static.grammarly.com/assets/files/dbd17c37cf339e73f106ff535431d2b9/photo.png">
                  <br>
                  <br>
                  <p>Typhanie</p>
                  <p>Pobie des araignées</p>
                </div>
                <div class="features-2">
                  <p>"Grammarly allows me to get those communications <br>out and feel confident that <br>I’m putting my best foot forward. <br>Grammarly is like a little superpower, <br>especially when I need to be at 110%.”</p>
                </div>
              </div>
            </div>
          </div>
<!-- slide 3 -->
          <div class="carousel-item">
            <div class="profil-card">
              <div class="container-4">
                <div class="profil2">
                  <img src="https://static.grammarly.com/assets/files/dbd17c37cf339e73f106ff535431d2b9/photo.png">
                  <p>Typhanie</p>
                  <p>Pobie des araignées</p>
                </div>
              </div>
              <div class="features-3">
                <p>"Grammarly allows me to get those communications <br>out and feel confident that <br>I’m putting my best foot forward. <br>Grammarly is like a little superpower, <br>especially when I need to be at 110%.”</p>
              </div>
            </div>
          </div>
<!-- bouton défilement -->
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button"       data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button"       data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!-- Call to action -->
          <div class="call-to-action">
            <strong><%= link_to "Install", "#", class: "btn btn-flat" %></strong>
          </div>
        </div>
      </div>
    </div>

</div>














