<div class="homepage">
  <div class="container">

    <div class="flex-container">
      <h1>Scroll without fear</h1>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>


      <a class="btn btn-flat" href="#"><strong>Install</strong></a>


    </div>

    <div class="video-cadre">
      <div class="card-container">
        <div class="card">
          <div class="front">
            Card
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="homepage-1">
  <div class="container-1">

    <div class="list-1">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <a class="btn btn-flat" href="#"><strong>Install</strong></a>
    </div>

    <div class="head-1">
      <p><strong>Phobia SET UP</strong></p>
        <div class="card-1">
            Card
        </div>
    </div>

    <div class="features">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>

  </div>

</div>

<div class="homepage-2">
  <div class="head-2">
    <h2> Everyone Can Be a Great Write</h2>
  </div>

  <div class="container-2">
    <div class="profil">
      <img src="https://static.grammarly.com/assets/files/dbd17c37cf339e73f106ff535431d2b9/photo.png">
      <br>
      <br>
      <p>Typhanie</p>
      <p>Pobie des araignées</p>
    </div>

    <div class="features-1">
      <p>"Grammarly allows me to get those communications <br>out and feel confident that <br>I’m putting my best foot forward. <br>Grammarly is like a little superpower, <br>especially when I need to be at 110%.”</p>
    </div>
  </div>
</div>











