<div class="homepage">


  <!-- Meta Setup-->

<% content_for :meta_title, "#{@offer.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @offer.description %>
<% content_for :meta_image, cl_image_path(@offer.photo.path) %>




  <!-- Page 1 -->
  <div class="block-container">
    <div class="flex-container">
      <h1><strong>Scroll<span class="strong"> without </span>fear</strong></h1>
      <p>The best extension to fight your phobia</p>
      <br>
      <br>
      <br>
      <strong><%= link_to "Add to Chrome", "#", class: "button-blue" %></strong>
    </div>

    <div class="card">
     <img src="https://www.worldatlas.com/r/w728-h425-c728x425/upload/3b/b5/c8/snake-species.jpg" alt="snake" class="img-thumbnail">
     <h3>You can't see the snake, our extension<span class="block"> blocks </span>it for you</h3>
   </div>
 </div>


 <!-- Page 2 -->
 <div class="block-container-dark">
  <div class="card-1">
    <%= image_tag 'screen-popup.png' %>
  </div>

  <div class="learn">
   <h3>Toggle<span class="learn-strong"> On</span>/Off button to get going</h3>
   <h3>Select the phobia you want to<span class="learn-strong-block"> block</span></h3>
   <h3>You are good to <span class="learn-strong"> Go !</span></h3>
 </div>
 <strong><%= link_to "Add to Chrome", "#", class: "button-blue-2" %></strong>
</div>
</div>

<!-- Page 3 - Carousel -->
<div class="block-container">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <div class="head-2">
      <h3><span class="special">“</span> The best way to find out if you can <span class="quote">trust</span> somebody is to trust them. <span class="special">”</span>
      </h3>
      <p>- Ernest Hemingway</p>
    </div>
    <div class="carousel-inner">
      <!-- slide 1 -->
      <div class="carousel-item active">
        <div class="profil-card">
          <div class="container-2">
            <div class="profil">
              <img src="https://static.grammarly.com/assets/files/dbd17c37cf339e73f106ff535431d2b9/photo.png">
              <p>Charlie</p>
            </div>
          </div>
          <div class="features-1">
            <p><br><br><br><br>"Discovering this plugin changed my life!<br>I was not so trustful at first but it works so well.<br>Thanks a lot”</p>
          </div>
        </div>

      </div>
      <!-- slide 2 -->
      <div class="carousel-item">
        <div class="profil-card">
          <div class="container-4">
            <div class="profil">
              <img src="https://assets.fireside.fm/file/fireside-images/podcasts/images/0/0bf56c68-56e1-4d3d-a595-47a8227512d5/hosts/1/16717c6b-829f-4bfd-ae27-8bd9c94e17fd/avatar_small.jpg">
              <p>Carolane</p>
            </div>
          </div>
          <div class="features-1">
            <p><br><br><br>"No more fear when i want to do some researches <br>for my next travail in Brasil !”</p>
          </div>
        </div>

      </div>
      <!-- slide 3 -->
      <div class="carousel-item">
        <div class="profil-card">
          <div class="container-4">
            <div class="profil">
              <img src="https://i.dailymail.co.uk/i/pix/2017/04/20/13/3F6B966D00000578-4428630-image-m-80_1492690622006.jpg">
              <p>Jason</p>
            </div>
          </div>
          <div class="features-1">
            <p><br><br><br>"No more anxiety, heart sinking, chest dropping...<br>PHOBIA is just the best plugin out there.<br>Simple as that! So grateful!”</p>
          </div>
        </div>
      </div>
      <!-- bouton défilement -->
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button"       data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button"       data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!-- Call to action -->
      <div class="call-to-action">
        <strong><%= link_to "Add to Chrome", "#", class: "button-blue-3" %></strong>
        <br>
        <br>

      </div>
    </div>
  </div>
</div>

</div>














