<div class="homepage">
  <div class="container">

    <div class="flex-container">
      <h1>Scroll without fear</h1>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>


      <a class="btn btn-flat" href="#">Install</a>


    </div>

    <div class="video-cadre">
      <div class="card-container">
        <div class="card">
          <div class="front">
            Card
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<div class="homepage-1">
  <div class="container-1">

    <div class="list-1">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <a class="btn btn-flat" href="#">Install</a>
    </div>

    <div class="head-1">
      <p><strong>Phobia SET UP</strong></p>
        <div class="card-1">
            Card
        </div>
    </div>

    <div class="features">
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
    </div>

  </div>

</div>

<div class="homepage-2">
  <div class="container-2">
    <div class="list-2">
      <p><strong>Homepage 2</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
      <p><strong>Lorem ipsum</strong></p>
    </div>

    <div class="comments">
      <p>
        Please note that as we keep updating datasets, <br>results are not guaranteed to be consistent across patch versions. <br>If you hardcode results in your test, <br>make sure you pinned the version of Faker down to the patch number.
      </p>

    </div>
  </div>

</div>


