.button-blue {
  background: #70EED6;
  font-family: 'Montserrat', sans-serif;
  color: #3d3d42;
  letter-spacing: 2px;
  font-weight: lighter;
  padding: 16px 24px;
  margin: 8px;
  border-radius: 8px;
  transition: background 0.8s ease;
  width: 150px;
}

.button-blue:hover {
  background: #3d3d42;
  color: white;
  text-decoration: none;
}

