#carouselExampleControls {
  width: 100%;
  font-family: 'Baloo Paaji', cursive;
  color: #696969;
}

h2 {
  padding-top: 30px;
  text-align: center;
}
.carousel-inner, .container-3, .carousel-item2 {
  text-align: center;
  justify-content: space-between;
}


.carousel-control-prev, .carousel-control-next {
  background: #70EED6;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  margin-top: 170px;
  margin-right: 50px;
  margin-left: 50px;
}

.call-to-action {
  padding-top: 400px;
}

