.navbar-lewagon {
  justify-content: space-between;
  background-image: linear-gradient(to right top, #bef3e0, #c6f4dd, #cef4db, #d6f5da, #def5d9);
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  float: none!important;
  font-family: 'Baloo Paaji', cursive;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


